extends main

block head
    - var headData = {title: "Главная"}

block content

    .container
        h1.text-center О компании “ПрофМаркет”

        p Наша компания строительных материалов может предложить Вам купить продукцию на лучших условиях по оптовым и розничным ценам! Мы гарантируем для наших покупателей великолепные цены, моментальные сроки поставки, широчайший выбор и многое другое.
        p В ходе проведения строительства, ремонтных работ немалого внимания требует подбор строительных материалов. С современным ассортиментом всерьез возникает опасность утонуть в море информации, подбирая материалы. Множество марок, разнообразное качество, каждый вид материалов может быть представлен в большом разнообразии. И для того чтобы с ним ознакомиться, придется посещать множество магазинов, которые могут располагаться в разных районах. Для того чтобы упростить поиск, резоннее обратиться в интернет-магазин строительных материалов, ассортимент которого сможет удовлетворить любого покупателя.
        br
        .slider-inner.arrow-default
            - for(var i = 0; i<3; i++)
                .slider-inner__section: +img('content/slider-inner/1')



block script
    script(src="%=static=%js/separate-js/jquery.magnific-popup.min.js" type="text/javascript")




































