extends main

mixin item-two()
    .itemList
        -for(var i = 0; i<8;i++)


block head
    - var headData = {title: "Раздел"}

block content
    .container
        .block-bg


    br
    br
block script




































