// Common styles of the project

html, body {
  height: 100%;
  color: #333;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.container{

}


.page {
}


.page__wrapper {
  min-height: 100%;
  //padding-bottom: 85px;

}
* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    //height: 50px;
}
body {
  //height: 400vh;
  //padding-top: 90px;
}

.breadcrumb-block{
  padding: 20px 40px;
}

.slider-inner{
  color: #fff;
  &__section{
    outline: none;
  }
}

.reviews-block{
  background-size: cover;
  background-position: center;
  background-image: url('%=static=%general/reviews-block.jpg');
  padding: 45px 0;
  padding-bottom: 67px;
  color: #fff;
  line-height: normal;
  position: relative;
  &:after{
    content: '';
    @include bg($leef-reviews-block);
    position: absolute;
    top: -47px;
    left: 0;
  }
  &__title{
    color: #80dffe;
    font-size: 33px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 35px;
    &-sub{
      font-size: 24px;
      font-weight: 400;
      margin: 0;
      margin-bottom: 20px;
    }
  }
  &__video{
    margin: -15px;
    font-size: 0;
    &-section{
      font-size: 14px;
      display: inline-block;
      padding: 15px;
      width: 50%;
      outline: none;
    }
    &-item{
      display: block;
      height: 156px;
      background-color: #dadada;
      position: relative;
      cursor: pointer;
      &-after{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: cover;
        background-position: center;
        &:after{
          content: '';
          @include bg($play);
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -38px;
          margin-top: -35px;
        }
        &:hover{
          &:after {
            @include bg($play-hover);
          }
        }
      }
    }
  }
  &__documents{
    margin: 0 -12.5px;
    &-section{
      padding: 0 12.5px;
      outline: none;
    }
    &-item{
      box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.28);
      img{
        width: 100%;
      }
    }
    .slick-list{
      padding-bottom: 8px;
    }
    .slick-arrow {
      padding: 0;
      &.slick-prev {
        left: auto;
        right: 100%;
        padding-right: 12.5px;
      }
      &.slick-next {
        right: auto;
        left: 100%;
        padding-left: 12.5px;
      }
    }
  }
  &__rightBlock{
    padding-left: 36px;
  }
}

.reviews-list{
  width: 1050px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  &-item{
    color: #333;
    line-height: 27px;
    margin-bottom: 25px;
    &-date{
      color: #7f7f7f;
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      line-height: 24px;
    }
    &-title{
      color: #045da6;
      font-size: 16px;
      font-weight: 700;
      margin: 0;
      line-height: 24px;
      margin-bottom: 10px;
    }
    &-text{
      margin: 0;
    }
  }
}

.trust-list{
  margin: 0 -5px;
  .slick-list{
    padding: 0 5px;
    padding-bottom: 19px;
  }
  &__section{
    outline: none;
  }
  &__item{
    background-color: white;
    border: 2px solid transparent !important;
    height: 115px;
    line-height: 115px;
    text-align: center;
    display: block;
    position: relative;
    img{
      display: inline-block;
    }
    &:hover{
      z-index: 4;
      border-color: #81c7ff !important;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    }
  }
}

.services-list{
  font-size: 0;
  margin: -15px;
  &__item{
    width: 25%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    color: #1864b0;
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    padding: 15px;
    >span{
      display: block;
    }
    &-img{
      height: 170px;
      line-height: 170px;
      margin-bottom: 5px;
      img{
        display: inline-block;
        max-height: 100%;
      }
    }
    &-title{
      >span{
        border-bottom: 1px solid transparent;
      }
    }
    &:hover{
      .services-list__item-title{
        >span{
          border-color: rgba(24, 100, 176, 0.6);
        }
      }
    }
  }
}

.sms-discount{
  background-size: cover;
  background-position: center;
  background-image: url('%=static=%general/sms-discount.png');
  padding: 22px 0;
  &__title{
    color: #d83622;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
  }
  &__table{
    display: table;
    width: 100%;
    &-cell{
      display: table-cell;
      vertical-align: middle;
      &_text{
        text-align: right;
        width: 440px;
      }
      &_phone{
        text-align: center;
        width: 250px;
      }
      &_top{
        vertical-align: top;
        padding-top: 14px;
      }
    }
  }
  &__form{
    width: 311px;
    max-width: 100%;
  }
}

.contacts{
  &__table{
    display: table;
    width: 100%;
    &-cell{
      display: table-cell;
      vertical-align: middle;
      &:not(:last-child){
        padding-right: 49px;
      }
      &_widget{
        width: 585px;
        >img{
          width: 100%;
        }
      }
    }
  }
  &__listBtn{
    font-size: 0;
    margin: -8px;
    clear: both;
    &-section{
      padding: 8px;
      width: 33.33%;
      display: inline-block;
      vertical-align: top;
    }
    &-item{
      color: #333;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      display: block;
      >span{
        display: block;
        padding: 7px 10px;
        border: 1px solid #333;
        border-radius: 14px;
        line-height: 20px;
      }
      &:hover{
        >span{
          background-color: #333;
          color: #fff;
        }
      }
    }
  }
}

#yamap{
  height: 551px;
  background-color: #e6e6e6;
}

.category-list{
  font-size: 0;
  margin: -20px -15px;
  &__section{
    width: 25%;
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
    padding: 20px 15px;
  }
  &__item{
    &-img{
      display: block;
      height: 170px;
      line-height: 170px;
      img{
        display: inline-block;
      }
    }
    &-title{
      color: #1864b0;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      display: block;
      margin-bottom: 10px;
    }
    &-list{
      @include nl;
      font-size: 15px;
      line-height: 32px;
      &_toggle{
        display: none;
      }
      li{
        a{
          display: block;
          //padding: 6.5px 0;
        }
      }
    }
  }
}

.detali{
  &__title{
    margin: 0;
    font-size: 24px;
    margin-bottom: 10px;
  }
  &__slider{
    margin-top: 16px;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    padding: 9px;
    &-view{
      margin-bottom: 11px;
      border-radius: 6px;
      overflow: hidden;
      &-section{
        outline: none;
        cursor: move;
      }
    }
    &-preview{
      margin-right: -11px;
      &-section{
        cursor: pointer;
        outline: none;
        border-radius: 6px;
        overflow: hidden;
        margin-right: 12px;
        border: 2px solid transparent;
        &.slick-current{
          border-color: #db4c3b;
        }
        &:not(.slick-active){
          width: 25%;
        }
        img{
          width: 100%;
        }
      }
    }
  }
  &__content{
    &:after{
      content: '';
      display: block;
      clear: both;
    }
    >*{
      float: left;
      position: relative;
    }
    &-left{
      width: 46.5%;
      right: 53.5%;
    }
    &-right{
      left: 46.5%;
      width: 53.5%;
      padding-left: 54.9px;
    }
  }
  &__features{
    &-list{

    }
    &-item{
      display: table;
      >*{
        display: table-cell;
        vertical-align: top;
      }
      +.detali__features-item{
        margin-top: 25px;
      }
      &-icon{
        width: 80px;
        fill: #b43520;
        text-align: center;
        padding-right: 29px;
      }
      &-desc{

      }
      &-title{
        color: #db4c3b;
        font-weight: 700;
        line-height: normal;
        margin: 0;
        margin-bottom: 8px;
      }
      &-text{
        margin: 0;
      }
    }
  }
  &__link{
    display: block;
    color: #333;
    text-align: center;
    line-height: 16px;
    >span{
      padding: 10px 20px;
      display: block;
      border: 1px solid #333;
      border-radius: 19px;
    }
    &:hover{
      >span{
        background-color: #333;
        color: #fff;
      }
    }
    &-sections{
      font-size: 0;
      margin: -5px -7px;
      &-section{
        display: inline-block;
        width: 33.33%;
        padding: 5px 7px;
        font-size: 16px;
      }
    }
  }
}

.color-list{
  margin: -7.5px -16px;
  font-size: 0;
  &__section{
    padding: 7.5px 16px;
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    font-size: 16px;
  }
  &__item{
    padding: 3px 15px;
    display: table;
    width: 100%;
    +*{
      margin-top: 16px;
    }
    >*{
      display: table-cell;
      vertical-align: middle;
    }
    &-left{

    }
    &-right{

    }
  }
}

.index-title{
  font-size: 37px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 35px;
  &-btn{
    text-align: right;
    margin-bottom: 15px;
  }
}

.index-grey{
  background-color: #f4f4f4;
  padding: 30px 0;
  padding-bottom: 50px;
  line-height: 24px;
  &__sections{
    display: table;
    width: 100%;
    >*{
      display: table-cell;
      vertical-align: top;
      +*{
        padding-left: 20px;
      }
    }
  }
  .index-grey__list-sections{
    font-size: 0;
    >*{
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
      width: 33.33%;
    }
  }
  &__table{
    display: table;
    width: 100%;
    &-cell{
      display: table-cell;
      vertical-align: top;
      &_img{
        width: 350px;
        text-align: left;
        img{
          margin-left: -70px;
          width: 402px;
          max-width: 1000000px;
          display: inline-block;
        }
      }
    }
  }
  &__title{
    color: #003d79;
    margin: 0;
    white-space: nowrap;
  }
}

.index-blockBgItem{
  background-size: auto 100%;
  background-position: top center;
  background-image: url('%=static=%general/index-blockBgItem.jpg');
  padding-top: 31px;
  padding-bottom: 50px;
}

.index-blockColorItem {
  background-color: #1c66a8;
  padding-top: 30px;
  padding-bottom: 40px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.42);
  color: #fff;
  position: relative;
  &_notShadow{
    box-shadow: none;
  }
  @include my-media-query(min, map_get($grid-breakpoints, md)) {
    &_leaf{
      position: relative;
      &:after{
        content: '';
        @include bg($blockColorItem_leaf);
        position: absolute;
        top: -50px;
        right: 0;
      }
    }
  }
}

.index-banner{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 3px solid #1864b0;
  border-radius: 10px 10px 0 0;
  padding: 14px;
  padding-top: 16px;
  padding-right: 23px;
  padding-left: 135px;
  color: #fff;
  line-height: 19px;
  box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
  +.index-banner{
    margin-top: 14px;
  }
  &__title{
    margin-bottom: 8px;
  }
  &__text{
    font-size: 13px;
    margin-bottom: 10px;
  }
  &__btn{
    font-size: 10px;
    padding-left: 20.5px;
    padding-right: 20.5px;
  }
}

.index-slider{
  border-bottom: 3px solid #1864b0;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
  color: #fff;
  .slick-arrow{
    @include btn-clear;
    top: 0;
    height: 100%;
    position: absolute;
    z-index: 2;
    padding: 0 16px;
    &.slick-prev{
      left: 0;
    }
    &.slick-next{
      right: 0;
    }
  }
  &__section{
    outline: none;
    background-size: cover;
    background-position: center;
    background-image: url("%=static=%content/index-slider/1.jpg");
    padding: 0 75px;
  }
  &__title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    margin-bottom: 30px;
    line-height: normal;
  }
  &__text{
    margin: 0;
    margin-bottom: 30px;
  }
  &__table{
    display: table;
    height: 289px;
    //width: 100%;
    &-cell{
      display: table-cell;
      vertical-align: middle;
      +*{
        padding-left: 10px;
      }
      &_img{
        vertical-align: bottom;
        width: 235px;
      }
    }
  }
}

.inner-blockBgGrey{
  background-size: cover;
  background-position: center;
  background-image: url("%=static=%general/blockBgGrey.jpg");
  padding-top: 36px;
  margin-bottom: 102px;
  &__bottom{
    display: inline-table;
    width: 100%;
    margin-bottom: -102px;
  }
}
.banner-inner{
  background-color: #4b4b4b;
  border-radius: 6px;
  overflow: hidden;
  display: block;
  color: white;
  background-image: url('%=static=%content/banner-inner.jpg');
  background-size: cover;
  background-position: center;
  b{
    color: #fff;
  }
  &__content{
    background-position: right top;
    background-size: 100%;
    background-image: url("%=static=%general/banner-inner_content.png");
    background-repeat: no-repeat;
    display: inline-block;
    padding-top: 55px;
    padding-left: 26px;
    padding-right: 70px;
    padding-bottom: 44px;
  }
  &__title{
    font-size: 24px;
  }
  &__text{
    font-size: 21px;
  }
  &__btn{
    font-size: 16px;
    border-radius: 19px;
    padding: 12px 27px;
    margin-top: 13px;
  }
}

.guarantee{
  border: 3px solid #b43520;
  border-radius: 6px;
  padding: 0 22px;
  display: table;
  padding-top: 46px;
  padding-bottom: 37px;
  >*{
    display: table-cell;
    vertical-align: bottom;
  }
  &__icon{
    padding-right: 15px;
    padding-left: 25px;
  }
  &__title{
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 40px;
    margin: 0;
    margin-bottom: 26px;
    >span{
      font-size: 35px;
    }
  }
  &__text{
    font-size: 21px;
    margin: 0;
  }
}

.offer{
  background-color: #045da6;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  background-image: url('%=static=%general/offer-exclamation.png');
  background-repeat: no-repeat;
  background-position: 50px 27px;
  position: relative;
  color: white;
  padding: 0 20px;
  font-size: 21px;
  font-weight: 400;
  line-height: 35px;
  padding-bottom: 29px;
  &:after{
    content: url('%=static=%general/offer-leaf.png');
    position: absolute;
    top: -17px;
    right: 32px;
  }
  &__title{
    color: #80dffe;
    font-size: 31px;
    line-height: normal;
    margin: 0;
    padding-bottom: 9px;
    padding-top: 22px;
    &Sub{
      font-size: 17px;
      font-weight: 400;
      line-height: 25px;
      margin: 0;
      margin-bottom: 6px;
    }
  }
  &__line{
    border-top: 1px dashed white;
    width: 420px;
    max-width: 100%;
    margin: 12px auto;
  }
  &__text{
    margin-bottom: 25px;
  }
  &__btn{
    width: 250px;
    max-width: 100%;
  }
}

.tabs-table{
  display: table;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 2px;
  @include nl;
  &__cell{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: normal;
    border-bottom: 2px solid transparent;
    position: relative;
    a{
      color: #3a3a3a;
      display: block;
      padding: 24px 15px;
    }
    &:hover{
      background-color: gainsboro;
      border-left-color: gainsboro;
    }
    +*{
      border-left: 1px solid #dadada;
    }
    &.active{
      border-bottom-color: #b43520;
      background-color: gainsboro;
      border-left-color: gainsboro;
      z-index: 1;
    }
  }
}

.statistics-buyers{
  &__head{
    background-color: #045da6;
    color: white;
    font-size: 16px;
    line-height: normal;
    border-radius: 6px 6px 0 0;
    padding: 7px 16px;
    b{
      color: #fff;
    }
  }
  &__body{
    border: 1px solid #dadada;
    border-top: none;
    padding: 7px 13px;
    line-height: 24px;
  }
  &__footer{
    border: 1px solid #dadada;
    border-top: none;
    border-radius: 0 0 6px 6px;
    padding: 12px 13px;
  }
  &__statistics-list{
    display: table;
    width: 100%;
    +*.statistics-buyers__statistics-list{
      padding-top: 4px;
    }
    >*{
      display: table-cell;
      vertical-align: middle;
    }
    &-title{
      font-size: 13px;
      line-height: normal;
      width: 65px;
    }
    &-scale{
      height: 21px;
      background-color: #f6f6f6;
      position: relative;
      span{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
      //>span{
      //  display: block;
      //  width: 100%;
      //}
    }
  }
}

.tabs-table-content{
  &__item{
    &:not(.active){
      display: none;
    }
  }
}

.item-two{
  border: 2px solid #e6e6e6;
  border-radius: 0 0 6px 6px;
  display: block;
  color: #333;
  padding: 9px;
  padding-top: 27px;
  position: relative;
  border-top: none;
  &:hover{
    box-shadow: 0 25px 24px rgba(0, 29, 52, 0.2);
    @include tr;
    .item-two__after{
      color: #db4c3b;
    }
  }
  &__after{
    position: absolute;
    overflow: hidden;
    left: -2px;
    right: -2px;
    top: 0;
    height: 16px;
    color: #36a4dd;
    &:after{
      position: absolute;
      content: '';
      display: block;
      @include tr;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-top: 16px solid;
      border-left: 170px solid transparent;
      border-right: 170px solid transparent;
    }
  }

  &__title{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }
  &__img{
    text-align: center;
    margin-bottom: 24px;
    img{
      display: inline-block;
    }
  }
  &__features{
    display: table;
    width: 100%;
    font-size: 15px;
    line-height: 25px;
    &-row{
      display: table-row;
      &:nth-of-type(2n-1){
        >*{
          background-color: #f6f6f6;
        }
      }
    }
    &-cell{
      display: table-cell;
      vertical-align: middle;
      padding: 0 10px;
      &_desc{
        color: #595959;
      }
    }
  }
  &__price{
    margin: 24px -9.5px;
    >*{
      display: inline-block;
      vertical-align: middle;
      padding: 2px 9.5px;
    }
    &-decount{
      font-size: 16px;
      color: #989898;
      text-decoration: line-through;
    }
    &-default{
      color: #d83622;
      font-size: 21px;
    }
  }
  &__listBtns{
    font-size: 0;
    margin: -3px;
    &-section{
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      padding: 3px;
      width: 50%;
    }
  }
}

.photo-popup{
  position: relative;
  img{
    width: 100%;
  }
  &:after{
    content: '';
    @include bg($open-popo);
    position: absolute;
    right: 8px;
    bottom: 9px;
  }
}

.item-elementArrow{
  border: 1px solid #efefef;
  border-top: none;
  border-radius: 0 0 10px 10px;
  box-shadow: 7px 7px 18px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top: 20px;
  &__after{
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
    overflow: hidden;
    height: 16px;
    &:after{
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-top: 16px solid;
      border-left: 230px solid transparent;
      border-right: 230px solid transparent;
    }
  }
}

.step-list{
  font-size: 0;
  margin: -15px;
  &__section{
    display: inline-block;
    width: 33.33%;
    padding: 15px;
    vertical-align: top;
    counter-increment: lis;
  }
  &__item{
    display: table;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    padding-bottom: 21px;
    padding-top: 30px;
    padding-right: 15px;
    height: 220px;
    position: relative;
    &:after{
      content: '0' counter(lis);
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      @include opacity(0.12);
      color: #36a4dd;
      font-size: 132px;
      line-height: 95px;
      font-weight: 700;
    }
    >*{
      display: table-cell;
      vertical-align: middle;
    }
    &-icon{
      width: 150px;
      text-align: center;
    }
    &-text{

    }
  }
}